.subtitle2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.2;
}
.container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.box-column2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 88%;
  min-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: -90px;
}
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
button {
  border-radius: 0;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.75rem 1.25rem;
  position: relative;
  outline: none;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button5 {
  background-color: black;
  color: white;
  border: 2px solid whites;
}

.button5:hover {
  background-color: white;
  color: black;
}
.box2-1 {
  flex: 0 0 50%;
  max-width: 50%;
}
.box2-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
}
.fab {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.icons {
  line-height: 1;
  font-size: 3rem;
  color: #f26c4f;
}
